

.banner_content_wrapper {

    display: flex;
   justify-content: center;
   align-items: center;
   color:#3d405b;
   flex-direction: column;
   margin: 0 auto;
   /* background-color: var(--primary); */
   color: var(--primary);
   text-shadow: 4px 4px 3px var(--tertiary);
   /* opacity: 1; */

}

.banner_content_wrapper  button{
    padding: 0.5rem;
    color: var(--tertiary);
    background-color: var(--tertiary1);
    border: none;
    border-radius: 0.5rem;
}







@media screen and (max-width: 767px){
    .banner_container{
        height: 15em;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .banner_content_wrapper {
        transform: translateY(5em);
        flex-direction: column;
        justify-content: flex-end;
        width:70%;
        color:#541690;
    }
}