.banner_container{
    background-image: url('/public/images/unsplash_1.jpg');
    background-size: cover;
    background-position: center;
    height: 25em;
}

.banner_content_wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}
